[submodule "third_party/nfd"]
	path = third_party/nfd
	url = https://github.com/btzy/nativefiledialog-extended.git

[submodule "third_party/linenoise"]
	path = third_party/linenoise
	url = https://github.com/antirez/linenoise.git